* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #333;
}

.container-header {
    background-image: url('../images/enchentes.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    min-height: 50vh;
}

.container-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 20, 60, 0.8);
    z-index: -1;
}

.bg-primary {
    background-color: #1e90ff !important;
}

.btn-primary {
    background-color: #1e90ff;
    border-color: #1e90ff;
}

#team .card {
    width: 200px; 
    height: 250px;
    overflow: hidden;
    margin: auto;
}


#team .card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.content-main {
    background-color: #f8f9fa;
}

footer {
    background-color: #1e3a5f;
    color: white;
    padding: 1em 0;
    width: 100%;
}

h1, h2, h3, h5 {
    font-weight: 700;
}

.card-title {
    font-size: 1.25rem;
}
